<div class="home-table border border-dark">
  <thead class="table-header"></thead>
  <form #form="ngForm" (ngSubmit)="deleteSelected()">
    <table class="table border border-dark">
      <thead class="table-header"></thead>
      <tr>

        <th scope="col"><input scope="col" type="checkbox" (click)="checkAllOptions()" />Select
          All</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Condition</th>
        <th scope="col">Description</th>
      </tr>
      <tbody class="table-body item-data">
        <tr *ngFor="let item of items" class="table-items">
          <input [(ngModel)]="item.selected" type="checkbox" name="item" />
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.condition }}</td>
          <td>{{ item.description }}</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div class="table-buttons">
  <button class="btn btn-danger" (click)="deleteSelected()">Delete</button>
  <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
</div>
