<div class="title">
  <img
    class="title-logo"
    src="../assets/Logo/OnyxLogo.png"
    alt="Onyx Solutions Logo"
  />
  <h1 class="h1">{{ title }}</h1>
</div>

<div class="home-container">
  <h2>Inventory Manager</h2>
  <div class="home">
    <div
      class="home-table border border-dark"
      *ngIf="newItem === false && deleteItem === false"
    >
      <app-item-table [getItems]="getItems"></app-item-table>
    </div>
    
    <app-delete-item-table
      *ngIf="deleteItem === true"
      [getItems]="getItems"
      (formCancelled)="showDeleteItem()"
    ></app-delete-item-table>

    <div class="table-buttons">
      <button
        class="btn btn-primary"
        (click)="showNewForm()"
        *ngIf="newItem === false && deleteItem === false"
      >
        New Item
      </button>
      <button
        *ngIf="newItem === false && deleteItem === false"
        class="btn btn-danger"
        (click)="showDeleteItem()"
      >
        Delete
      </button>
    </div>
  </div>
</div>

<app-new-item-form
  *ngIf="newItem === true"
  [showNewForm]
  (formCancelled)="showNewForm()"
></app-new-item-form>
